<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Plantas</title>
    <link rel="stylesheet" href="/view/css/cadastro.css">
</head>
<body>
    <header>
        <div class="coluna">
            <img class="foto" src="/view/img/logoPolant.png">
        </div>
    </header>

    <div class="container">
        <h2>HERBÁRIO <br><span>G.E.L.L.H.M</span></h2>

        <form id="plant-form">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="nome-cientifico">Nome Científico:</label>
            <input type="text" id="nome-cientifico" name="nome-cientifico" required>

            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao"></textarea>

            <label>Foto da Planta:</label>
            <div class="drop-zone" id="dropZone">
                <p id="dropZoneText"><b>Arraste e solte</b> uma imagem aqui ou <b>clique para selecionar</b></p>
                <input type="file" id="fileInput" accept="image/*" hidden>
            </div>

            <div class="buttons">
                <button id="submit" type="submit">Cadastrar Planta</button>
                <button type="button" onclick="abrirLista()">Lista de Plantas</button>
            </div>
        </form>
    </div>
    
    <script src="/view/js/plantConnect/addPlant.js"></script>
</body>
</html>