<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herbário G.E.L.L.H.M.</title>
    <link rel="stylesheet" href="/view/css/inicio.css">
</head>
<body>
    <div class="main-container">
        <header>
            <img src="/view/img/logoPolant.png" alt="Logo Herbário G.E.L.L.H.M.">
        </header>
        
        <main>
            <h1>Apenas um Herbário qualquer (UAU)</h1>
            <div class="button-container">
                <a href="./cadastro.html" class="btn">Cadastrar Planta</a>
                <a href="../index.html" class="btn">Lista de Plantas</a>
            </div>
        </main>
    </div>
</body>
</html>